<div #sketchDiv></div>
<input class="colorPicker" [(colorPicker)]="fillcolor" [style.background]="fillcolor" [cpOutputFormat]="'rgba'" [cpPosition]="'bottom'"/><span>Fill Color</span><br/>
<input class="colorPicker" [(colorPicker)]="linecolor" [style.background]="linecolor" [cpOutputFormat]="'rgba'"  [cpPosition]="'bottom'"/><span>Line Color</span>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Outline Width (px)" type="number" [(ngModel)]="width" >
</mat-form-field>
<p></p>
<div *ngIf="activeTool != 'polyline'">
  <mat-form-field class="example-full-width"  >
    <textarea matInput placeholder="Label" type="text" [(ngModel)]="label" ></textarea>
  </mat-form-field>
</div>
{{activeTool}}