<div #propertyInfo class="infoContainer">
        <!-- <mat-form-field>
                <mat-select placeholder="Scroll To Section" (selectionChange)="scroll($event.value)">
                  <mat-option *ngFor="let section of sections" [value]="section">
                    {{section}}
                  </mat-option>
                </mat-select>
              </mat-form-field>   -->
        <div #Property>
        <mat-card  class="example-card">
                <mat-card-header>
                  <mat-card-title>Property</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row" *ngIf="_info">
                        <div class="col">
                            <div class="row bold">
                                PIN
                            </div>
                            <div class="row">
                                {{_info.attributes.PIN_NUM}}<p *ngIf="_info.attributes.PIN_EXT != '000'"> {{_info.attributes.PIN_EXT}}</p>
                            </div>                
                            <div class="row" *ngIf="_info.attributes.PIN_EXT != '000'">
                                    {{_info.attributes.PIN_NUM}}<p > {{_info.attributes.PIN_EXT}}
                                </div>                                                                                                                                       
                        </div>
                        <div class="col">
                            <div class="row bold">
                                Real Estate ID
                            </div>
                            <div class="row">
                                {{_info.attributes.REID}}
                            </div>          
                        </div>                    
                    </div>
                    <div class="row" *ngIf="_info">
                            <div class="col">
                                    <div class="row bold">
                                        Site Address
                                    </div>
                                    <div class="row">
                                        {{_info.attributes.SITE_ADDRESS}}
                                    </div>        
                                </div>
                            <div class="col">
                                    <div class="row bold">
                                        City
                                    </div>
                                    <div class="row">
                                        {{_info.attributes.CITY_DECODE | titlecase}}
                                    </div>        
                                </div>               
                    </div>
                    <div class="row" *ngIf="_info">
                            <div class="col">
                                    <div class="row bold">
                                        Township
                                    </div>
                                    <div class="row">
                                        {{_info.attributes.TOWNSHIP_DECODE}}
                                    </div>        
                                </div>
                            <div class="col">
                                    <div class="row bold">
                                        Jurisdiction
                                    </div>
                                    <div class="row">
                                        {{decodeJurisdiction(_info.attributes.PLANNING_JURISDICTION)}}
                                    </div>        
                                </div>               
                    </div>           
                    <div class="row" *ngIf="_info">
                            <div class="col">
                                    <div class="row bold">
                                        Map Name
                                    </div>
                                    <div class="row">
                                        {{_info.attributes.MAP_NAME}}
                                    </div>        
                                </div>
                            <div class="col">
                                    <div class="row bold">
                                        Land Class
                                    </div>
                                    <div class="row">
                                        {{_info.attributes.LAND_CLASS_DECODE}}
                                    </div>        
                                </div>               
                    </div>  
                    <div class="row" *ngIf="_info">
                            <div class="col">
                                <div class="row bold">
                                    Description
                                </div>
                                <div class="row">
                                    {{_info.attributes.PROPDESC}}
                                </div>                                                                                                                         
                            </div>              
                        </div>                                                  
                </mat-card-content>
                <mat-card-actions *ngIf="_info">
                        <button mat-button color="accent" (click)="openLink('http://services.wakegov.com/realestate/Account.asp?id='+_info.attributes.REID)">Real Estate</button>
                        <button *ngIf="!_info.attributes.SITE_ADDRESS.startsWith('0') " mat-button color="accent"  (click)="openGoogleStreetview()">Streetview</button>
                        <button mat-button color="accent" (click)="openLink('https://coraleigh.github.io/mail-label-generator/pin/'+_info.attributes.PIN_NUM)">Mail Labels</button>

                    </mat-card-actions>                
              </mat-card>    
            </div>  
    <mat-card #Ownership class="example-card">
        <mat-card-header>
          <mat-card-title>Ownership</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="row" *ngIf="_info">
                <div class="col">
                    <div class="row bold">
                        Owner
                    </div>
                    <div class="row">
                        {{_info.attributes.OWNER}}
                    </div>                                                                                                                         
                </div>
                <div class="col">
                    <div class="row bold">
                        Mailing Address
                    </div>
                    <div class="row">
                        {{_info.attributes.ADDR1}}
                    </div>       
                    <div class="row">
                        {{_info.attributes.ADDR2}}
                    </div>       
                    <div class="row" *ngIf="_info.attributes.ADDR3">
                        {{_info.attributes.ADDR3}}
                    </div>       
                </div>                    
            </div>
            <div class="row" *ngIf="_info && _info.attributes.SALE_DATE">
                <div class="col">
                    <div class="row bold">
                        Sale Price
                    </div>
                    <div class="row">
                        {{_info.attributes.TOTSALPRICE | currency}}
                    </div>        
                </div>
                <div class="col">
                    <div class="row bold">
                        Date Sold
                    </div>
                    <div class="row">
                        {{_info.attributes.SALE_DATE | date}}
                    </div>        
                </div>                    
            </div>
        </mat-card-content>
      </mat-card>
      <mat-card #Valuation class="example-card">
            <mat-card-header>
              <mat-card-title>Valuation</mat-card-title>
            </mat-card-header>
    
            <mat-card-content>
                <div class="row" *ngIf="_info">
                    <div class="col">
                        <div class="row bold">
                            Building Value
                        </div>
                        <div class="row">
                            {{_info.attributes.BLDG_VAL | currency}}
                        </div>                                                                                                                         
                    </div>
                    <div class="col">
                            <div class="row bold">
                                Land Value
                            </div>
                            <div class="row">
                                {{_info.attributes.LAND_VAL | currency}}
                            </div>                                                                                                                         
                        </div>                  
                </div>
                <div class="row" *ngIf="_info">
                        <div class="col">
                            <div class="row bold">
                                Total Value
                            </div>
                            <div class="row">
                                {{_info.attributes.TOTAL_VALUE_ASSD | currency}}
                            </div>                                                                                                                         
                        </div>
                        <div class="col">
                                <div class="row bold">
                                    Billing Class
                                </div>
                                <div class="row">
                                    {{_info.attributes.BILLING_CLASS_DECODE}}
                                </div>                                                                                                                         
                            </div>                  
                    </div>
            </mat-card-content>
          </mat-card>      
          <div *ngIf="_info">
              <mat-card #Building class="example-card"  *ngIf="_info.attributes.TYPE_USE_DECODE || _info.attributes.HEATEDAREA || _info.attributes.DESIGN_STYLE_DECODE || _info.attributes.YEAR_BUILT ">
                    <mat-card-header>
                      <mat-card-title>Building</mat-card-title>
                    </mat-card-header>
                    <app-photo-gallery *ngIf="cardWidth"  [cardWidth]="cardWidth"></app-photo-gallery>
    
                    <mat-card-content>
                        <div class="row" *ngIf="_info">
                            <div class="col">
                                <div class="row bold">
                                    Use Type
                                </div>
                                <div class="row">
                                    {{_info.attributes.TYPE_USE_DECODE}}
                                </div>                                                                                                                         
                            </div>
                            <div class="col">
                                    <div class="row bold">
                                        Heated Area
                                    </div>
                                    <div class="row">
                                        {{_info.attributes.HEATEDAREA | number}} ft<sup>2</sup>
                                    </div>                                                                                                                         
                                </div>                  
                        </div>
                        <div class="row" *ngIf="_info">
                                <div class="col">
                                    <div class="row bold">
                                        Design Style
                                    </div>
                                    <div class="row">
                                        {{_info.attributes.DESIGN_STYLE_DECODE}}
                                    </div>                                                                                                                         
                                </div>
                                <div class="col">
                                        <div class="row bold">
                                            Year Built
                                        </div>
                                        <div class="row">
                                            {{_info.attributes.YEAR_BUILT}}
                                        </div>                                                                                                                         
                                    </div>                  
                            </div>
                            
                    </mat-card-content>
                  </mat-card>                
          </div>
      <div #Deeds>
      <mat-card #Deeds class="example-card" *ngIf="_deeds.length > 0">
            <mat-card-header>
              <mat-card-title>Deeds</mat-card-title>
            </mat-card-header>      
      <mat-card-content>
          <div  *ngFor="let deed of _deeds">
            <div class="row">
                <div class="col">
                    <div class="row bold">
                        Book
                    </div>
                    <div class="row">
                        {{deed.attributes.DEED_BOOK}} 
                    </div>                                                                                                                         
                </div>
                <div class="col">
                    <div class="row bold">
                    Page
                    </div>
                    <div class="row">
                    {{deed.attributes.DEED_PAGE}} 
                    </div>          
                </div>     
                <div class="col">
                        <div class="row bold">
                        Date
                        </div>
                        <div class="row">
                        {{deed.attributes.DEED_DATE | date}} 
                        </div>          
                    </div>   
                    <div class="col">
                            <div class="row bold">
                            Acres
                            </div>
                            <div class="row">
                            {{_info.attributes.DEED_ACRES | number : '1.2-2'}} 
                            </div>          
                        </div>                                                                            
            </div>
       
        </div>            
        </mat-card-content>      
        <mat-card-actions *ngIf="_deeds.length > 0">
                <button *ngIf="_deeds[0].attributes.DEED_DOC_NUM" mat-button color="accent" (click)="openLink('http://services.wakegov.com/booksweb/pdfview.aspx?docid='+_deeds[0].attributes.DEED_DOC_NUM+'&RecordDate=')">View Deed</button>
                <button *ngIf="_deeds[0].attributes.BOM_DOC_NUM"  mat-button color="accent"  (click)="openLink('http://services.wakegov.com/booksweb/pdfview.aspx?docid='+_deeds[0].attributes.BOM_DOC_NUM+'&RecordDate=')">View Plat</button>
              </mat-card-actions>
        </mat-card>     
    </div>
    <div #Addresses>
        <mat-card #Addresses class="example-card address-card">
              <mat-card-header>
                <mat-card-title>Addresses</mat-card-title>
              </mat-card-header>      
                <mat-card-content>
                    <app-address-table></app-address-table>
                </mat-card-content>      

          </mat-card>     
      </div>    
</div>