.sidenav-container {
  height: calc(100% - 56px);
}

.sidenav[_ngcontent-c1] .mat-toolbar[_ngcontent-c1] {
  z-index: 10000;
}


@media only screen and (min-width: 768px) {
  .sidenav-container {
    height: calc(100% - 64px);
  }
  
} 

.sidenav {
  top:0px !important;
  padding:1em;  
  max-width: 100%;

}


@media only screen and (min-width: 768px) {
  .sidenav {
    max-width: 90%;
    top:64px !important;
    padding:1em;  
  }
} 

.searchnav {
  width: 400px;

}

.toolnav {
  width: 400px;

}
.sidenav .mat-toolbar {
  background: inherit;
  z-index: 1000;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}



.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}