<mat-toolbar color="accent">

  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="toggle(tooldrawer, searchdrawer)" position="end"
   >
    <mat-icon aria-label="Side nav toggle icon">build</mat-icon>
  </button>    
  <span>iMAPS</span>
  <span class="example-fill-remaining-space"></span>

  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="toggle(searchdrawer, tooldrawer)"
   >
    <mat-icon aria-label="Side nav toggle icon">search</mat-icon>
  </button>


  <!-- <button mat-button *ngIf="!loggedIn" (click)="logInClicked()">Login</button>
  <button mat-button *ngIf="loggedIn" (click)="logOutClicked()">Logout</button> -->
</mat-toolbar>
<mat-sidenav-container class="sidenav-container dark-theme">
    <mat-sidenav #tooldrawer class="toolnav sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ || isTablet$ | async)"
        position="start">
        <mat-toolbar *ngIf="(isHandset$ || isTablet$ | async)">
            <span>Tools</span>
            <span class="example-fill-remaining-space"></span>
  
            <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="toggle(tooldrawer, searchdrawer)" position="end"
           >
            <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
          </button>             
          </mat-toolbar>
          <!-- <app-property-search></app-property-search>
        <app-property></app-property> -->
          <app-tools></app-tools>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-map
        [center]="mapCenter"
        [basemap]="basemapType"
        [zoom]="mapZoomLevel">
      </app-map>
    </mat-sidenav-content>
    <mat-sidenav #searchdrawer class="searchnav sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)"
        position="end">
        <mat-toolbar *ngIf="(isHandset$ || isTablet$ | async)">
          <span>Search</span>
          <span class="example-fill-remaining-space"></span>

          <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="toggle(searchdrawer, tooldrawer)" position="end"
         >
          <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
        </button>             
        </mat-toolbar>

        <app-property-search></app-property-search>
        <app-property></app-property>
   
    </mat-sidenav>    
  </mat-sidenav-container>

  