<mat-toolbar color="primary" *ngIf="shared.showToolbar">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="toggle(tooldrawer, searchdrawer)" position="end"
   >
    <mat-icon aria-label="Side nav toggle icon">build</mat-icon>
  </button>    

  <span>iMAPS</span>
  <span class="example-fill-remaining-space"></span>

  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="toggle(searchdrawer, tooldrawer)"
   >
    <mat-icon aria-label="Side nav toggle icon">search</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="showDisclaimer()">Disclaimer</button>
    <button mat-menu-item (click)="showFeedback()">Feedback</button>
    <button mat-menu-item [matMenuTriggerFor]="links">Links</button>
    <button mat-menu-item [matMenuTriggerFor]="help">Help</button>
    <div mat-menu-item  (click)="$event.stopPropagation();">

        <mat-slide-toggle 
        class="example-margin"
        color="primary"
        [checked]="dark" (change)="toggleDarkMode($event);">
          Dark Mode
        </mat-slide-toggle>    
      </div>
      <div mat-menu-item  (click)="$event.stopPropagation();">

        <mat-slide-toggle 
        class="example-margin"
        color="primary"
        [checked]="dark" (change)="toggleRotation($event);">
          Map Rotation
        </mat-slide-toggle>    
      </div> 
  </mat-menu>
  
  <mat-menu #links="matMenu">
    <a href="https://www.raleighnc.gov" target="_blank" mat-menu-item>City of Raleigh</a>
    <a href="https://www.wakegov.com" target="_blank" mat-menu-item>Wake County</a>
    <button mat-menu-item [matMenuTriggerFor]="data">Data</button>
  </mat-menu>
  
  <mat-menu #data="matMenu">
      <a href="https://data.raleighnc.gov" target="_blank" mat-menu-item>Raleigh Open Data</a>
      <a href="https://data-wake.opendata.arcgis.com" target="_blank" mat-menu-item>Wake Open Data</a>
  </mat-menu>
  
  <mat-menu #help="matMenu">
    <a href="https://github.com/CORaleigh/imaps/blob/master/help/README.md" target="_blank" mat-menu-item>Help</a>
    <button mat-menu-item (click)="clearLocalStorage()">Clear Local Storage</button>

  </mat-menu>

  <!-- <button mat-button *ngIf="!loggedIn" (click)="logInClicked()">Login</button>
  <button mat-button *ngIf="loggedIn" (click)="logOutClicked()">Logout</button> -->
</mat-toolbar>
<mat-sidenav-container class="sidenav-container dark-theme" [ngClass]="{'fullHeight': !shared.showToolbar}">
    <mat-sidenav #tooldrawer class="toolnav sidenav" fixedInViewport="true"
      [attr.role]="(shared.isHandset$ | async) || (shared.isTablet$ | async) ? 'dialog' : 'navigation'"
      [mode]="(shared.isHandset$ | async) || (shared.isTablet$ | async) ? 'over' : 'side'"
      [opened]="false"
        position="start">
        <mat-toolbar *ngIf="(shared.isHandset$ | async) || (shared.isTablet$ | async)">
            <span>Tools</span>
            <span class="example-fill-remaining-space"></span>
  
            <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="toggle(tooldrawer, searchdrawer)" position="end"
           >
            <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
          </button>             
          </mat-toolbar>
          <!-- <app-property-search></app-property-search>
        <app-property></app-property> -->
          <app-tools></app-tools>
    </mat-sidenav>
    <mat-sidenav-content [ngClass]="{'fullHeight': !shared.showToolbar}">
        <app-map
        [center]="mapCenter"
        [basemap]="basemapType"
        [zoom]="mapZoomLevel">
      </app-map>
    </mat-sidenav-content>
    <mat-sidenav #searchdrawer class="searchnav sidenav" fixedInViewport="true"
        [attr.role]="(shared.isHandset$ | async) || (shared.isTablet$ | async) ? 'dialog' : 'navigation'"
        [mode]="(shared.isHandset$ | async) || (shared.isTablet$ | async) ? 'over' : 'side'"
        [opened]="!(shared.isHandset$ | async) && !(shared.isTablet$ | async)"
        position="end">
        <mat-toolbar *ngIf="(shared.isHandset$ | async) || (shared.isTablet$ | async)">
          <span>Search</span>
          <span class="example-fill-remaining-space"></span>

          <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="toggle(searchdrawer, tooldrawer)" position="end"
         >
          <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
        </button>             
        </mat-toolbar>

        <app-property-search></app-property-search>
        <app-property></app-property>
   
    </mat-sidenav>    
  </mat-sidenav-container>

  