.container .esri-popup__header-buttons{
    display: none !important;
}

.container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    z-index: 10000;
    -webkit-overflow-scrolling: touch !important;
    overflow-y:auto !important;
}

