.mat-tab-group {
    height: 100%;
    width: 100%;
}

.mat-tab-label {
    min-width: 0px !important;
    width: auto !important;
}
.mat-tab-group {
    height: calc(100% - 70px) !important;;
    width:100%;
  
  }
  
  @media only screen and (min-width: 769px) {
    .mat-tab-group {
      height: 100% !important;
  
    }
  } 