.propertyContainer {
    top: 0px

}

.mat-tab-group {
  height: calc(100% - 124px) !important;;
  width:100%;

}

@media only screen and (min-width: 768px) {
  .mat-tab-group {
    height: calc(100% - 70px) !important;

  }
} 