
<mat-tab-group headerPosition="below" [selectedIndex]="shared.propertyTabIndex.getValue()" (selectedIndexChange)="shared.propertyTabIndex.next($event)">
    <mat-tab label="List"><app-property-results></app-property-results></mat-tab>
    <mat-tab label="Info" [disabled]="!shared.propertyInfo.getValue()"><app-property-info ></app-property-info></mat-tab>
    <mat-tab label="Services" [disabled]="!shared.propertyInfo.getValue()"><app-service-info ></app-service-info></mat-tab>
    
    <mat-tab label="Apps"><app-apps></app-apps></mat-tab>
</mat-tab-group>     