/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow:hidden }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-autocomplete-panel {
    max-height: 500px !important;
}

.mat-tab-body-wrapper {
    height: 100% !important;

}


.mat-tab-body {
    overflow-x: hidden;
    overflow-y: auto;
}

.mat-tab-label {
    min-width: 0px !important;
    width: auto !important;
}

app-nav {
    overflow: hidden;
}