/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;margin: 0;} /*position: fixed; top:0; bottom: 0;left: 0;right: 0; z-index: 1;}*/
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-autocomplete-panel {
    max-height: 500px !important;
}

.mat-tab-body-wrapper {
    height: 100% !important;
    overflow:hidden;
}

  
.cdk-virtual-scroll-content-wrapper {
    display: flex !important;
    flex-direction: row !important;
  }

.mat-tab-body {
    overflow-x: hidden;
    overflow-y: auto;
}

.mat-tab-label {
    min-width: 0px !important;
    width: auto !important;
}

.mat-paginator-container {
    flex-wrap: nowrap !important;
}

app-select-tool .esri-sketch__section.esri-sketch__tool-section:first-child {
    display: none !important;
}

app-select-tool .esri-sketch__section.esri-sketch__tool-section:last-child {
    display: none !important;
}

.esri-legend__layer-body {
    display: flex;
    flex-flow: wrap;
    margin:0 !important;
  }
  
  .esri-legend__layer-row {
    flex: 50%;
  }
  

  .esri-layer-list-panel {
    margin:0 !important;
 
  }

  .esri-legend__layer {
    margin:0 !important;

  }

  .esri-layer-list__list {
      margin:0 !important;
  }

  .clear-button>.esri-icon::before {
    content: "\e677" !important;
  }
  .mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}
.esri-icon-visible {
  color: #4c8c2b !important;

}
.esri-icon-visible:before {
  content: "\e611" !important;
  color: inherit;
}

.esri-icon-non-visible:before {
  content: "\e610" !important;
  color: inherit;
}

.esri-widget a {
  color: #d1d1d1 !important;
}


.container .esri-popup__main-container {
  width: auto;
}

.container .esri-popup__header-buttons{
  display: none !important;
}

.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 10000;
  -webkit-overflow-scrolling: touch !important;
  overflow-y:auto !important;
}

.esri-layer-list__item--has-children>.esri-layer-list__list {
  padding-left: 1em;
}


.alert-snackbar {
  background-color: #ad1207 !important;
}

span.esri-bookmarks_bookmark-remove:before {
  content: "\e600" !important;
  color: inherit;
}