/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;margin: 0;} /*position: fixed; top:0; bottom: 0;left: 0;right: 0; z-index: 1;}*/
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-autocomplete-panel {
    max-height: 500px !important;
}

.mat-tab-body-wrapper {
    height: 100% !important;
    overflow:hidden;
}

  
.cdk-virtual-scroll-content-wrapper {
    display: flex !important;
    flex-direction: row !important;
  }

.mat-tab-body {
    overflow-x: hidden;
    overflow-y: auto;
}

.mat-tab-label {
    min-width: 0px !important;
    width: auto !important;
}

.mat-paginator-container {
    flex-wrap: nowrap !important;
}
/* 
app-select-tool .esri-sketch__section.esri-sketch__tool-section:first-child {
    display: none !important;
}

app-select-tool .esri-sketch__section.esri-sketch__tool-section:last-child {
    display: none !important;
} */

.esri-legend__layer-body {
    display: flex;
    flex-flow: wrap;
    margin:0 !important;
  }
  
  .esri-legend__layer-row {
    flex: 50%;
  }
  

  .esri-layer-list-panel {
    margin:0 !important;
 
  }

  .esri-legend__layer {
    margin:0 !important;

  }

  .esri-layer-list__list {
      margin:0 !important;
  }

  .clear-button>.esri-icon::before {
    content: "\e677" !important;
  }
  .mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}
.esri-icon-visible {
  color: #4c8c2b !important;

}
.esri-icon-visible:before {
  content: "\e611" !important;
  color: inherit;
}

.esri-icon-non-visible:before {
  content: "\e610" !important;
  color: inherit;
}

.esri-widget a {
  color: #d1d1d1 !important;
}


.container .esri-popup__main-container {
  width: auto;
}

.container .esri-popup__header-buttons{
  display: none !important;
}

.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 10000;
  -webkit-overflow-scrolling: touch !important;
  overflow-y:auto !important;
}

.esri-layer-list__item--has-children>.esri-layer-list__list {
  padding-left: 1em;
}


.alert-snackbar {
  background-color: #ad1207 !important;
}

span.esri-bookmarks_bookmark-remove:before {
  content: "\e600" !important;
  color: inherit;
}



.esri-zoom {
  flex-flow: row nowrap !important;
}

.esri-zoom .esri-widget--button:last-child {
  border-top: none !important;
}


/*CSS for custom widgets*/
.esri-layer-list__filter {
  position: fixed;
  width: 287px;;
  z-index: 100;
  padding: 7px;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;  
}

.esri-icon-layer-list__icon_visible:before  {
  
  color: inherit;
  content: "\e68e" !important;
}

.esri-layer-list__list--root {
  padding-top: 40px !important;
}


.esri-bookmarks__add_container{
  width: 100%;
  z-index: 100;
  padding: 7px;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;  
}

.esri-measure__panel-visible {
  display: block;
}

.esri-measure__panel-not-visible {
  display: none;
}


.esri-measure__ccContent {
  width: 100%;
}

.esri-coordinate-conversion  {
  width: 100% !important;
}

.esri-view-width-xsmall .esri-expand--auto .esri-expand__container--expanded {
  width: 100% !important;
  max-width: 100% !important;
  left: 0 !important;
  right: 0 !important;
}

.esri-view-height-small .esri-expand .esri-widget--panel, .esri-view-height-small .esri-expand .esri-widget--panel-height-only, .esri-view-height-small .esri-ui-corner .esri-component.esri-widget--panel, .esri-view-height-small .esri-ui-corner .esri-component.esri-widget--panel-height-only {
  max-height: auto !important;
}

.esri-ui-top-left{
  flex-flow: row !important;
}

.esri-ui-top-left .esri-component {
  margin-left: 0 !important;
}

.esri-ui-bottom-left .esri-component{
  margin-right: 0 !important;
}

.esri-ui-top-right .esri-component {
  margin-bottom: 0 !important;
}
.esri-ui-top-left .esri-expand__content {
  left: 0 !important;
  top: 32px !important;
  margin-left: 0 !important;
}